<aside id="sidebar">
          <div id="links">
            <h1>Pages</h1>
            <ul class="menu">
              <li><a href="{{ site.url }}">Home</a></li>
              {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <hr/><br/>
          <a href="https://github.com/GSA/fssi-file-processor/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/GSA/fssi-file-processor/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>
          <hr/><br/>
          <p class="repo-owner"><a href="https://github.com/GSA/fssi-file-processor">The FSSI File Processor</a> is maintained by <a href="https://github.com/GSA">GSA</a>.</p>
        </aside>